body,head
{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
#icon-header
{
	width : 100%;
	background-color : #34495e;
	color : #ecf0f1;
	padding-top : 10px;
	padding-bottom: 10px;  
	font-family: sans-serif;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	top:0;
	left: 0;
	position: fixed;
	z-index: 1;
}

#category-header
{
	background-color: #95a5a6;
	font-family: sans-serif;
	/*position: relative;*/
	position: fixed;
	width: 100%;
	top:38px;
	z-index: 1;
}
#category-header ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#category-header ul li
{
	padding: 10px 0px;
	width: 15%;
	text-align: center;
	display: inline-block;
	margin: 0px;
}
#category-header ul li:hover
{
	background-color: #34495e;
}
#category-header ul li:hover ul
{
	/*background-color: #34495e;*/
	display: block;
}


#category-header ul li ul
{
	/*left: 0;*/
	position: absolute;
	top: 38px;
	width: 15%;
	background-color: #95a5a6;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 50;
	display: none;
}
#category-header ul li ul li
{
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	/*display: block;*/
	margin: 0;
	cursor: pointer;
}
#category-header ul li ul li:hover
{
	background-color: #34495e
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
}
#logos
{
	float: right;
	margin-right: 10px;
	display: inline-block;
}
#login-icon
{
	float: right;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}
#image1
{
	/*position: absolute;*/
	left: 0;
}
#image2
{
	/*display: none;*/
	left: 100%;
}
#image3
{
	left: -100%;
}
.image-container
{
	overflow-x: hidden;
}

.images
{
	top: 76px;
	width: 100%;
	height: 600px;
	/*display: inline;*/
	/*float: left;*/
	margin: 0;
	padding: 0;
	position: absolute;
}

.left-right-buttons
{
	position: absolute;
	z-index: 50;
	background-color: #95a5a6;		
	padding: 50px 50px;
	/*width: 50px 50px;*/
	border-radius: 100% ;
	top: 280px;
	opacity: 0.20;
}
.left-right-buttons:hover
{
	cursor: pointer;
	opacity: 0.60;
}
#left-button div
{
	left: 150%;
	position: relative;
}
#right-button div
{
	right: 150%;
	position: relative;
}
#left-button
{
	left : -50px;
	/*left: 0;*/
	text-align: right;
}
#right-button
{
	right: -50px;
	/*right: 0;*/
	text-align: left;
}
#coverup
{
	height: 200%;
	width: 100%;
	top: 0;
	left: 0;
	/*display: block;*/
	display: none;
	position: absolute;
	z-index: 2;
	opacity: 0.8;
	background-color: #95a5a6;
}
.login-signup
{
	font-family: sans-serif;
	margin: auto;
	font-size: 0.8em;
	position: fixed;
	top: 35%;
	left: 40%;
	/*display: block;*/
	display: none;
	z-index: 4;
	background-color: white;
	border-radius: 10px;
	padding:20px 20px;
	border:5px solid #34495e;
}
.login-signup h4
{
	font-size: 1.4em;
	margin: 0;
	padding:0 0 10px 0;
}