body,head
{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
#image1
{
	/*position: absolute;*/
	left: 0;
}
#image2
{
	/*display: none;*/
	left: 100%;
}
#image3
{
	left: -100%;
}
.image-container
{
	overflow-x: hidden;
}

.images
{
	width: 100%;
	height: 600px;
	/*display: inline;*/
	/*float: left;*/
	margin: 0;
	padding: 0;
	position: absolute;
}

.left-right-buttons
{
	position: absolute;
	z-index: 50;
	/*background-color: red;		*/
	padding: 50px;
	top: 150px;
}
.left-right-buttons:hover
{
	cursor: pointer;
}
#left-button
{
	left : 0;
}
#right-button
{
	right: 0;
}

#icon-header
{
	width : 100%;
	background-color : #34495e;
	color : #ecf0f1;
	padding-top : 10px;
	padding-bottom: 10px;  
	font-family: sans-serif;
	/*padding-left: 10px;*/

	/*position: absolute;*/
	top:0;
}
#category-header
{
	background-color: #95a5a6;
	font-family: sans-serif;
	/*position: relative;*/
}
#category-header ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#category-header ul li
{
	padding: 10px 50px;
	display: inline-block;
}
#category-header ul li:hover
{
	background-color: #34495e;
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
}
#logos
{
	float: right;
	margin-right: 10px;
	display: inline-block;
}